{{#if editing}}
<h1 class="text-primary">Edita el proyecto</h1>
<h3 class="">¡Actualiza tu proyecto de forma sencilla!</h3>
{{else}}
<h1 class="text-primary">Crea tu proyecto</h1>
<h3 class="">¡Crea tu proyecto, vende el patrón, el...!</h3>
{{/if}}

{{#if editing}}
<form action="/products/{{product.id}}/edit" enctype="multipart/form-data" method="POST">
  {{else}}
  <form action="/products/new-product" enctype="multipart/form-data" method="POST">
    {{/if}}


    <div class="mb-3">
      <label for="productName" class="form-label">Nombre del proyecto</label>
      <input value="{{product.productName}}" type="text"
        class="form-control {{#if errors.productName}}is-invalid{{/if}}" id="productName" name="productName"
        aria-describedby="productNameHelp" required />
      <div class="invalid-feedback">
        {{errors.productName}}
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Detalle del producto</label>
      <input value="{{product.description}}" type="text"
        class="form-control {{#if errors.description}}is-invalid{{/if}}" id="description" name="description" required />
      <div class="invalid-feedback">
        {{errors.description}}
      </div>
    </div>
        <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input value="{{product.price}}" type="number"
        class="form-control {{#if errors.price}}is-invalid{{/if}}" id="price" name="price" required />
      <div class="invalid-feedback">
        {{errors.price}}
      </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Imagen</label>
      <input value="{{product.image}}" type="file" class="form-control {{#if errors.image}}is-invalid{{/if}}" id="image"
        name="image" />
      <div class="invalid-feedback">
        {{errors.image}}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Crea tu proyecto</button>
  </form>