<div style="display:flex; margin-top:50px">
    <div class="description">
        <h1>{{product.productName}}</h1>
        <p>{{product.description}}</p>
        {{#if product.productPrice}}
        <h3 class="text-primary">Comprar {{product.productName}}</h3>
        <form method="POST" action="/products/{{product.id}}/purchase-confirmation">
            {{!-- <input type="hidden" name="price" value="{{product.productPrice}}" /> --}}
            <input type="hidden" name="typeBuy" value="product" />
            <button type="submit" class="btn btn-primary"> {{product.productPrice}} € </button>
        </form>        

        {{else if product.patternPrice}}
        <h3 class="text-primary">Comprar el patrón</h3>
        <form method="POST" action="/products/{{product.id}}/purchase-confirmation">
            {{!-- <input type="hidden" name="price" value="{{product.patternPrice}}" /> --}}
            <input type="hidden" name="typeBuy" value="pattern" />
            <button type="submit" class="btn btn-primary"> {{product.patternPrice}} € </button>
        </form> 

        {{else if product.kitPrice}}
        <h3 class="text-primary">¿Quieres el kit con el patrón + material para hacerlo? </h3>
        <form method="POST" action="/products/{{product.id}}/purchase-confirmation">
            {{!-- <input type="hidden" name="price" value="{{product.kitPrice}}" /> --}}
            <input type="hidden" name="typeBuy" value="kit" />
            <button type="submit" class="btn btn-primary"> {{product.kitPrice}} € </button>
        </form>        

        {{else}}
        <img src="/img/sad-wool.png" height="48"/>    
        <p>Lo sentimos, no puedes comprar este artículo</p>

        {{/if}}




    </div>
    <div class="description">
        <img src="{{product.image}}" alt="{{product.productName}}">
        <div>

            {{!-- <img src="{{currentUser.image}}" alt=""> --}}

            {{#if currentUser}}
            <button class="like-btn btn text-primary" type="button" value="{{product.id}}">
                <span>{{product.likes.length}}</span>
                {{#hasLike currentUser=currentUser product=product}}
                <i class="bi bi-heart-fill"></i>
                {{else}}
                <i class="bi bi-heart"></i>
                {{/hasLike}}
            </button>
            {{else}}
            <button class="like-btn btn text-primary" type="button">
                <span>{{product.likes.length}}</span><i class="bi bi-heart"></i></button>
            {{/if}}

            {{#if currentUser}}
            <button class="save-btn btn text-primary" type="button" value="{{product.id}}">

                {{#hasSave currentUser=currentUser product=product}}
                <i class="bi bi-bookmark-fill"></i>
                {{else}}
                <i class="bi bi-bookmark"></i>
                {{/hasSave}}
            </button>
            {{else}}
            <button class="save-btn btn text-primary" type="button">
                <i class="bi bi-bookmark"></i></button>
            {{/if}}
        </div>
    </div>
</div>