<div style="display:flex; margin-top:50px">
    <div class="description">
        <h1> ¡Muchas gracias {{currentUser.firstName}}!</h1>
        <h2> Has comprado  {{purchase.product.productName}}</h2>
        <p>{{purchase.product.description}}</p>

       
    </div>
    <div class="description">
        <img src="{{purchase.product.image}}" alt="{{purchase.product.productName}}">
        <div>
        </div>
    </div>
</div>